<h2 mat-dialog-title>Ustawienia eksportu</h2>

<form [formGroup]="form"> 

  <mat-dialog-content>
    <div class="columns-config">
      <h3>Wybierz pola do eksportu</h3>
      
      <div formArrayName="availableFields" cdkDropList (cdkDropListDropped)="drop($event)">
        
        <div *ngFor="let fieldControl of fieldsFormArray.controls; let i = index" [formGroupName]="i" cdkDrag>
          <div class="field-item">
            <mat-icon cdkDragHandle>drag_indicator</mat-icon>
            
            <mat-checkbox formControlName="selected" class="field-checkbox">
              {{ fieldControl.value.label }} 
            </mat-checkbox>
            
            <mat-form-field class="field-input">
              <mat-label>Własna nazwa ({{ fieldControl.value.label }})</mat-label>
              <input matInput formControlName="customLabel">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="router.navigate(['/'])">Anuluj</button>
    <button mat-button color="primary" (click)="saveSettings()">Zapisz</button>
  </mat-dialog-actions>

</form>