<div *ngIf="entities$ | async as entities">
  <ng-container *ngIf="entities.length > 0; then entitylist; else noentities"></ng-container>
  <ng-template #noentities>
    <h1>Welcome!</h1>
    <div class="highlight">Przejdź do strony z listą linii zamówień, aby wczytać encje.</div>
  </ng-template>

  <ng-template #entitylist>
    <div class="eca-actions">
      <button mat-flat-button color="secondary" (click)="toggleAll()" [disabled]="loading">
        Zaznacz/Odznacz wszystko
      </button>
      <button mat-flat-button color="primary" (click)="generatePreview()" [disabled]="loading || selectedEntities.length === 0">
        Generuj podgląd
      </button>
      <button mat-flat-button color="accent" (click)="downloadFile()" [disabled]="loading || !previewContent">
        Pobierz plik TXT
      </button>
      <button mat-flat-button color="accent" (click)="copyToClipboard()" [disabled]="!previewContent">
        Kopiuj do schowka
      </button>
    </div>

    <h1>Lista encji</h1>
    <mat-selection-list class="entities-list" [(ngModel)]="selectedEntities">
      <mat-list-option *ngFor="let entity of entities" [value]="entity">
        {{entity.description}}
      </mat-list-option>
    </mat-selection-list>
    
    <div *ngIf="previewContent" class="preview-container">
      <h2>Podgląd pliku</h2>
      <pre>{{previewContent}}</pre>
    </div>
  </ng-template>
</div>
<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>